body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
}

@media (max-width: 750px) {
  body {
    font-size: 20px;
  }
}

.grid {
  display: grid;
  grid-gap: 10px;
}

@media (min-width: 750px) {
  .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 3fr;
  }
}

.navbar {
  align-self: center;
  padding: 0;
}

.menu {
  padding: 0;
  display: block;
}

@media (max-width: 750px) {
  .navbar {
    display: none;
  }
}

@media (min-width: 750px) {
  .menu-button {
    display: none;
  }
}

.menu-button {
  border-radius: 0.8em;
  border: 2px solid purple;
  background-color: purple;
  color: white;
  align-self: center;
  padding: 10px;
  margin: 10px;
  font-size: 1rem;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.navigation a {
  text-decoration: none;
  color: black;
}

.navigation a:hover {
  color: purple;
  text-decoration: none;
}

.navigation a:focus {
  color: purple;
}

.navigation {
  background-color: #e2afff;
  color: black;
  font-family: "Amatic SC", cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: auto;
}

@media (min-width: 750px) {
  .navigation {
    top: 0;
    position: sticky;
    height: 100vh;
  }
}

.nav-item {
  padding: 0;
}

nav a:focus {
  padding: 0.4rem;
}

nav a:active {
  color: purple;
}

.navigation li {
  padding: 5px 0;
}

.cv:focus {
  border-bottom: 2px solid black;
}

.nav-home,
.cv {
  align-self: center;
  text-align: center;
}

ul.contact-icons {
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: space-around;
}

img.icon {
  height: 30px;
  width: 30px;
}

img.portrait {
  height: 130px;
  border-radius: 50%;
}

summary {
  font-size: smaller;
}

.greeting {
  font-weight: bold;
}

section {
  padding-right: 5px;
}
@media (max-width: 750px) {
  section {
    padding: 0 10px;
  }
}

.image {
  width: 100%;
}

.training {
  width: 50%;
  padding-right: 10px;
}

@media (max-width: 750px) {
  .training {
    width: 100%;
    padding-right: 0px;
  }
}
